{% layout "./layout" %}

{% render "./partials/welcome" %}

{% for post in posts %}
  <hr class="border-t border-zinc-200" />

  <article class="flex flex-col gap-y-4">
    {% if post.title %}
      <h2 class="text-xl tracking-tight text-zinc-600 transition hover:text-zinc-700 sm:text-2xl">
        <a href="/posts/{{ post.slug }}">
          Some example post title
        </a>
      </h2>
    {% endif %}

    {% if post.contents %}
      {% for content in post.contents %}
        <p>{{ content.value }}</p>
      {% endfor %}
    {% endif %}

    {% if post.readMore %}
      <a class="text-sm text-zinc-400" href="/posts/{{ post.slug }}">
        Read more
      </a>
    {% endif %}
    <time class="text-sm text-zinc-400" datetime="2022-09-02">
      <a href="/posts/{{ post.slug }}">
        {{ post.publishedAt | date_format: "MMMM do, yyyy" }}
      </a>
    </time>
  </article>
{% endfor %}
