<!DOCTYPE html>
<html lang="en-gb">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <meta name="robots" content="noindex, nofollow" />

    <title>Hello, world</title>
    <meta name="description" content="A brief guide to setup KaTeX" />

    <link rel="stylesheet" href="{{ '/assets/style.css' | theme_url }}" />
  </head>

  <body class="h-full bg-zinc-50">
    <div class="flex flex-col mx-auto w-full max-w-3xl pt-8 px-8 gap-y-8">
      {% render "./partials/header" %}
      {% render "./partials/welcome" %}

      {% for post in posts %}
        <hr class="border-t border-zinc-200" />

        <article class="flex flex-col gap-y-4">
          {% if post.title %}
            <h2 class="text-xl tracking-tight text-zinc-600 transition hover:text-zinc-700 sm:text-2xl">
              <a href="/posts/{{ post.slug }}">
                Some example post title
              </a>
            </h2>
          {% endif %}

          {% if post.contents %}
            {% for content in post.contents %}
              <p>{{ content.value }}</p>
            {% endfor %}
          {% endif %}

          {% if post.readMore %}
            <a class="text-sm text-zinc-400" href="/posts/{{ post.slug }}">
              Read more
            </a>
          {% endif %}
          <time class="text-sm text-zinc-400" datetime="2022-09-02">
            <a href="/posts/{{ post.slug }}">
              {{ post.publishedAt | date_format: "MMMM do, yyyy" }}
            </a>
          </time>
        </article>
      {% endfor %}

      {% render "./partials/footer" %}
    </div>

    <div class="fixed inset-0 flex justify-center px-2 -z-10">
      <div class="flex w-full max-w-7xl px-2 lg:px-8">
        <div class="w-full bg-white ring-1 ring-zinc-100"></div>
      </div>
    </div>
  </body>
</html>
